
.gridContainer{
    height: 700px;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 200px 100px 300px;
    grid-gap:10px;
}
.griditems{
    background-color: turquoise;
}
.container{
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap:20px;
}
@media screen and(max-width:480px){

}