*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background: #9EB25D;
}
ul{
    background: #9EB25D;
}
.lista1{
    float: left;
    height: 45px;
    text-align: center;
    padding: 5px;
}
.lista2{
    float: right;
    height: 45px;
    text-align: center;
    padding: 5px;

}
.lista{
    display: inline-block;
}
.lista>a{
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    color:black;
    padding: 20px;
}
a:active{
  background-color: hotpink;
}
a:hover{
  background-color: firebrick;
}
a:visited{
  background-color: blueviolet;
}
main{
    clear: both;
    column-count: 3;
    column-rule-style: dotted;
    column-rule-color: #9EB25D;
    height: auto;
}
section{
    border:2px solid black;
    padding: 5px;
}

#anim1{
    height: 200px;
    width: 200px;
    background: indigo;
    margin: 20px;
    clip-path:polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    transition:transform 2s;
}
#anim1:hover{
    transform: translate(400px);
    transform:rotate(-180deg);
}
#anim2{
    height: 200px;
    width: 200px;
    background: indigo;
    margin: 20px auto;
    position: relative;
    clip-path:polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    animation:change 2s infinite;
}
@keyframes change{
    50%{transform:rotate(90deg);}
}
.btn{
    display: block;
    width: 50px;
    height: 30px;
    margin: 20px auto;
    background-color: blueviolet;
}
.btn:after{
    content: "\f103";
}
.container{
      display: flex;
      /* justify-content: space-evenly; */
      height:400px;
      border: 2px solid black;
      align-items: center;
      justify-content: center;
}
.flexitem{
    height: 200px;
    width: 200px;
    background-color: #9EB25D;
    
}